.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Rdata
.httr-oauth
.DS_Store
.quarto
Check issues
src/rcpp_hello.cpp
src/RcppExports.cpp
R/event_burstiness.R
R/gradient_field.R
R/multilevel_cusp.R
R/NDSWorkshop-package.R
R/time_burstiness.R
In_progress/event_burstiness.R
In_progress/gradient_field.R
In_progress/multilevel_cusp.R
In_progress/NDSWorkshop-package.R
In_progress/time_burstiness.R
